@page "/"
@using blazor_template_parameter.Components
@using Models.Data

<h1>Hello, world!</h1>

<TableTemplate Items="@pets">
    <RowTemplate Context="pet">
        <td>@pet.PetId</td>
        <td>@pet.Name</td>
    </RowTemplate>

    <CustomTemplate Context="dataItem">
        <td>@dataItem.Id</td>
        <td>@dataItem.Value</td>
    </CustomTemplate>
</TableTemplate>

@code {
    public List<Pet> pets { get; set; } = new List<Pet>()
    {
        new Pet() { PetId = 1, Name = "pet1" },
        new Pet() { PetId = 2, Name = "pet24" },
    };

    public class Pet
    {
        public int PetId { get; set; }
        public string Name { get; set; }

    }
}
